<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.kgc.easybuy.mapper.ShoppingMapper">
    <!--根据商品的Id查询对应的商品-->
    <select id="getProduct" resultType="EasyBuyProduct">
        select * from easybuyproduct e where e.epId=#{proId}
    </select>
    <!--根据商品Id增加对应商品的临时库存-->
    <update id="addTempStock">
        update easybuyproduct e set epStock=epStock+1 where e.epId=#{epId}
    </update>
    <!--根据商品Id减少对应商品的临时库存-->
    <update id="reduceTempStock">
        update easybuyproduct e set epStock=epStock-1 where e.epId=#{epId}
    </update>
    <!--根据商品Id减少对应商品的实际库存-->
    <update id="reduceRealStock">
        update easybuyproduct e set realStock=realStock-1 where e.epId=#{epId}
    </update>
</mapper>